<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>cityServlet</servlet-name>
        <servlet-class>by.lodochkina.bank.servlets.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cityServlet</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>citizenshipServlet</servlet-name>
        <servlet-class>by.lodochkina.bank.servlets.CitizenshipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>citizenshipServlet</servlet-name>
        <url-pattern>/citizenship</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>disabilityServlet</servlet-name>
        <servlet-class>by.lodochkina.bank.servlets.DisabilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>disabilityServlet</servlet-name>
        <url-pattern>/disability</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>maritalStatusServlet</servlet-name>
        <servlet-class>by.lodochkina.bank.servlets.MaritalStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>maritalStatusServlet</servlet-name>
        <url-pattern>/marital_status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>by.lodochkina.bank.servlets.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editClientServlet</servlet-name>
        <servlet-class>by.lodochkina.bank.servlets.EditClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editClientServlet</servlet-name>
        <url-pattern>/client/edit</url-pattern>
    </servlet-mapping>

    <!--CharsetFilter start-->

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>by.lodochkina.bank.filters.UTF8Filter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>